
@{
    ViewBag.Title = "testff";
}

<h2>testff</h2>
@Html.ActionLink("方法（1）", "S6")
@Html.ActionLink("方法（1）", "S6", new { value = 1, name = "s6" })
@Html.ActionLink("方法（1）", "S6", "home")
@Html.ActionLink("方法（1）", "s6", new { id = 1 }, new { style = "font-weight:bold" })
@Html.ActionLink("方法（1）", "s6", "home", new { id = 1 }, new { style = "font-weight:bold" })


